<% include header %>

<h1><a href="/"><< terug naar huis<strong>.</strong>f<strong>m</strong></h1>
<h2>AAAAAHHHHH geen bus!!!!!</h2>
<img id="gif" src="https://media.giphy.com/media/JHI1niRBnfcSA/giphy.gif">


<% include footer %>
