<% include header %>

<h1 class="terugnaarstart"><a href="/">TERUG</h1>
<h2 class="aaaah">AAAAAHHHHH <br> geen bus!!!!!</h2>
<img id="gif" src="https://media.giphy.com/media/JHI1niRBnfcSA/giphy.gif">


<% include footer %>
