<% include header %>
<div class="resultaten">
    <div class="tekst"> 
        <p class="title">van <span id="vet">Antwerpen</span> naar <span id="vet">Kortrijk</span></p>
        <ul>
            <li>
                <p id="nummer">1</p>
                <p id="uren">8:15 - 8:30</p>
                <p id="naambus">Antwerpen Station</p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>
            <li>
                <p id="nummer">1</p>
                <p id="uren">8:15 - 8:30</p>
                <p id="naambus">Antwerpen Station</p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>
            <li>
                <p id="nummer">1</p>
                <p id="uren">8:15 - 8:30</p>
                <p id="naambus">Antwerpen Station</p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>
            <li>
                <p id="nummer">1</p>
                <p id="uren">8:15 - 8:30</p>
                <p id="naambus">Antwerpen Station</p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>
            <li>
                <p id="nummer">1</p>
                <p id="uren">8:15 - 8:30</p>
                <p id="naambus">Antwerpen Station</p>
            </li>
        </ul>
        <div class="bevestigen3" id="sluiten"><p>Sluiten</p></div>
    </div>
</div>

<% include footer %>
