<% include header %>
<div class="resultaten">
    <div class="tekst">
        <h1>
            8u
        </h1>
        <p>
          <%=startTijd%>
          <%=startHalte%>
        </p>

    </div>
</div>

<% include footer %>
