body{
    background-color: lightblue;
}

.uitklap{
    width: 80vw;
    height: 80vh;
    position: fixed;

    top: 10vh;
    left: 10vw;

    background-color: white;
    display: none;
    z-index: 100;
}


.uitklap2{
    width: 80vw;
    height: 80vh;
    position: fixed;

    top: 10vh;
    left: 10vw;

    z-index: 100;
    background-color: white;
}


/* ---------------- 1e scherm ------------------------*/

/* ---------------- Locatie van ------------------------*/
.locatievan{
    width: 65vw;
    height: 6vh;

    position: fixed;

    top: 10vh;
    left: 15vw;

    background-color: rgba(50,50,50,0.9);
    border: none;
}

.locatienaar{
    width: 65vw;
    height: 6vh;

    position: fixed;

    top: 18vh;
    left: 15vw;

    background-color: rgba(50,50,50,0.9);
    border: none;
}

.tijd{
    width: 70vw;
    height: 7vh;

    position: fixed;

    top: 26vh;
    left: 15vw;

    background-color: white;

    display: flex;
}

.submit{
    width: 70vw;
    height: 7vh;

    position: absolute !IMPORTANT;
    z-index: 1 !IMPORTANT;

    top: 35vh;
    left: 15vw;

    background-color: #3765da;
    border-radius: 0px;
    border: none;
}




/* ---------------- text 1e scherm ------------------------*/

::-webkit-input-placeholder {
    color: white;
    letter-spacing: 0.5px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
    letter-spacing: 0.5px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
    letter-spacing: 0.5px;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
    letter-spacing: 0.5px;
}

input[type=submit]{
    color: white;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 0.8em;

    position: relative;
    z-index: 1;
}




#vertrek{
    color: black;

    display: flex;
    align-self: center;

    padding-left: 2vw;

    font-family: sans-serif;
    font-size: 0.8em;
}

#uur{
   color: black;

    display: flex;
    align-self: center;

    margin: 0 auto;

    font-family: sans-serif;
    font-size: 0.8em;

    font-weight: bold;
}

#dag{
    color: black;

    display: flex;
    align-self: center;
    padding-right: 2vw;

    font-family: sans-serif;
    font-size: 0.8em;
}


/* ---------------- 2e scherm ------------------------*/


.bevestigen{
    width: 80vw;
    height: 7vh;
    position: fixed;
    z-index: 100;

    bottom: 10vh;
    left: 10vw;

    background-color: #3765da;
    display: none;
    z-index: 100;
}


.bevestigen2{
    width: 80vw;
    height: 7vh;
    position: fixed;
    z-index: 100;

    bottom: 10vh;
    left: 10vw;

    background-color: #3765da;

}


#bevestigen{
    color: white;
    text-align: center;
    width: 80vw;
}

#bevestigen p {
    padding-top: 2.5vh;
    font-family: sans-serif;
    font-size: 0.8em;
}

.link{
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.link2{
  text-decoration: none;
  color: #3765da;
  font-weight: bold;
}

.datum{
  display: none;
}
.datum2{

}

#vandaag, #morgen, #kalender{
    position: absolute;
    top: 2vh;;
    font-family: sans-serif;
    padding: 2vh;
}


#vandaag{
    left: 2vh;
}

#kalender{
    right: 2vh;
}

#morgen{
    left: 28vw;
}

#vertrekknop, #aankomstknop{
    position: absolute;
    top: 15vh;
    font-family: sans-serif;
}

#vertrekknop{
    left: 15vw;
}

#aankomstknop{
    right: 15vw;
}

#tijdstip{
    position: relative;
    width: 60vw;
    height: 20vh;
    margin-left: 12vw;
    margin-top: 30vh;
<<<<<<< HEAD

=======
    
>>>>>>> c705a4fbeb458dacff5c1a380330098858e6da71
    z-index: 9999999999999999;
}


/* ---------------- 2e scherm ------------------------*/

/* ---------------- kalender ------------------------*/




#datum{
    position: absolute;
    top: 8vh;
    z-index: 1000000;
    left: 15vw;
    width: 62vw;
    text-align: center;
    height: 5vh;
    
    font-size: 1.5em;
    letter-spacing: 1px;
    font-family: sans-serif;
}


#tijdstip{
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}

.locatievan {
    color: white;
}

input[type=text]{
    color: white;
    padding-left: 5vw;
}

<<<<<<< HEAD
=======






/* ---------------- text ------------------------*/
.resultaten {
    width: 100vw;
    height: 100vh;
    
    background-color: white;
}

.resultaten h1{
    width: 90vw;
    text-align: center;
    
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bolder;
    
    border: 1px solid red;
    padding-top: 10vh;
    padding-bottom: 2vh;
}

.tekst{
    width: 90vw;
    margin-left: 5vw;
}

>>>>>>> c705a4fbeb458dacff5c1a380330098858e6da71



/* ---------------- map ------------------------*/
