body {
  font-family: helvetica;
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
}

h1{
font-family: "bubbler one";
width: 250px;
font-size: 1.4em;
text-align: center;
margin-left: auto;
margin-right: auto;
color: black;
background-color: gainsboro;
padding: 10px;
border: 3px double black;
border-bottom: none;
margin-bottom: 0px;
font-weight: bold;
}
.back{
  color: black;
  text-decoration: underline;
}
section {
  margin: 25px 0;
}

img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 10px 0;
}

h2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "bubbler one";
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  display: inline;
}

nav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 5px;
  background-color: black;
  font-family: "bubbler one";
  width: 95%;
  padding-left: 16px;
  padding-right: 0px;
  text-align: center;
}
.cat {
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 5px;
  background-color: black;
  font-family: "bubbler one";
  width: 95%;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-bottom: -1px;
  margin-top: 0px;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}
nav a {
  display: inline-block;
  margin-right: 20px;
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
}

a{
  color: black;
}


.naam{
  width: 50%;
  float: right;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: gainsboro;
  color: black;
  margin-right: 5%;
  text-align: right;
  margin-top: 0px;
  font-family: "bubbler one";
  font-size: 1.2em;
  border: 3px double black;
  border-top: none;
  font-weight: bold;
}

.samenvatting{
  font-family: "helvetica";
  clear: both;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.news{
  margin-left: auto;
  margin-right: auto;
  border: 8px solid black;
  height: 100%;
  width: 95%;
  background-color: white;
  margin-top: -1px;
}
.online{
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}
.streeproze{
  height: 100%;
  width: 20px;
  background-color: lightgrey;
  position: fixed;
  top: 0px;
  z-index: -3;
  -webkit-transform: skew(-20deg);
   -moz-transform: skew(-20deg);
     -o-transform: skew(-20deg);
}
.streepblauw{
  height: 100%;
  width: 20px;
  background-color: darkgrey;
  position: fixed;
  top: 0px;
  z-index: -3;
  -webkit-transform: skew(-20deg);
   -moz-transform: skew(-20deg);
     -o-transform: skew(-20deg);
}
.streeproze.een{
  left: 0%;
}
.streeproze.twee{
  left: 20%;
}
.streeproze.drie{
  left: 40%;
}
.streeproze.vier{
  left: 60%;
}
.streeproze.vijf{
  left: 80%;
}
.streeproze.zes{
  left: 100%;
}
.streeproze.zeven{
  left: -20%;
}
.streeproze.acht{
  left: -40%;
}
.streeproze.negen{
  left: 120%;
}
.streeproze.tien{
  left: 140%;
}
.streepblauw.een{
  left: -10%;
}
.streepblauw.twee{
  left: 10%;
}
.streepblauw.drie{
  left: 30%;
}
.streepblauw.vier{
  left: 50%;
}
.streepblauw.vijf{
  left: 70%;
}
.streepblauw.zes{
  left: 90%;
}
.streepblauw.zeven{
  left: -30%;
}
.streepblauw.acht{
  left: -50%;
}
.streepblauw.negen{
  left: 110%;
}
.streepblauw.tien{
  left: 130%;
}
