<% include header %>
<form method="post" action="/">
    <input type="time" name="user[tijd]">
    <input type="text" name="user[van]">
    <input type="text" name="user[naar]">
    <input type="submit" value="Submit">
</form>
<% include footer %>
